<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My web</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/Sign-in" class="active">Sign-In</a>
            <a href="/Sign-up">Sign-Up</a>
        </div>
    </header>
<section>
    <div class="container">
        <div class="content">
            <div class="information">
                <h1>Nhập thông tin tài khoản</h1>
                <div class="line"></div>
                <form action="/Sign-in" method="post">
                    <div class="input-text">
                        <label>Account</label>
                        <input type="text" name="Email">
                    </div>
                    <div class="input-text">
                        <label>Password</label>
                        <input type="text" name="Password">
                    </div>
                    <div class="btn">
                        <button class="login">Sign In</button>
                        <button class="foget-password">Forget Password</button>
                    </div>
                </form>
            </div>
            <div class="warning">
                <h1>Lưu ý</h1>
                <p>Trang đăng nhập cho phép đăng nhập một lần đến nhiều hệ thống Web của Cinema World . Điều này có nghĩa là bạn chỉ đăng nhập một lần cho những hệ thống Web đã đăng kí với hệ thống xác thực </p>
                <p>Bạn cần dùng tài khoản được cung cấp để đăng nhập. </p>
                <p>Vì lí do bảo mật hãy Thoát  khỏi trình duyện Web khi bạn kết thúc việc truy cập vào các dịch vụ cần quyền truy cập</p>
                <h1>Hỗ trợ kĩ thuật</h1>
                <p>Email: support@CinemaWorld.com</p>
                <p>ĐT: 0335785561</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>