<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My web</title>
  <link rel="stylesheet" href="/css/index.css">
  <body>
  <header>
    <div class="topnav">
      <a href="/" class="active">Home</a>
      <a href="/Sign-in">Sign-In</a>
      <a href="/Sign-up">Sign-Up</a>
  </div>
</header>
</body>
</html>