<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My web</title>
  <link rel="stylesheet" href="/css/index.css">
  <body>
  <header>
    <div class="topnav">
      <a href="/User/:Id" class="active">Home</a>
      <a href="/create">Create Film</a>
      <a href="/List">List Film</a>
      <a href="/Sign-out">Sign-out</a>
      <a href="/Import">Import Film</a>
  </div>
</header>
</body>
</html>