<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Create User</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/Sign-in">Sign-In</a>
        <a href="/Sign-out" class="active">Sign-Up</a>
    </div>
    <div class="form-add-new">
        <form action="/Sign-up" method="POST">
            <fieldset>
                <legend>Register Account</legend>
                <div class="input-group">
                    <label>Email</label>
                    <input type="text" name="Email">
                </div>
                <div class="input-group">
                    <label>Password</label>
                    <input type="text" name="Password">
                </div>
                <div>
                    <button onclick="Signup()">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
    <script>
        function Signup(){
            alert('complete sign up')
        }
    </script>
</body>
</html>