*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    height: 70px;
    margin: 10px 2px;
    background-image: linear-gradient( #B2AFAF , white);
}
.image-header{
    width: 100px;
    height: 100px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    flex: 1;
}
.menu{
    flex: 6;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}
.menu > li{
    padding: 0 12px;
}
.menu > li a{
    font-size: 12px;
    font-weight: bold;
}
.orther{
    flex: 1;
    display: flex;
}
.orther > li{
    padding: 0 12px;
    position: relative;
}

.orther li input{
    border: 2px solid black  ;
    border-radius: 5px;
    padding: 5px;
}

.orther > li i{
    position: absolute;
    top: 5px;
    right: 20px;
}
